@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
.logo {
    font-family: 'Langar', cursive;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
#navigation-bar {
    height: 125px;
    width: 100%;
    background: #34495e;
    position: sticky;
    
    

}
label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
/* div.ul {
    
    float: right;
    margin-right: 40px;
    display: inline;
}
div.li {
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
    text-align: justify;
} */
#navigation-bar a {
    color : white;
    font-size: 18px;
    text-transform: uppercase;
    border : 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.logo a.active,.logo a:hover{
    border: 1px solid white;
    transition: .5s;
}


.container{
    margin-left: 130px;
    margin-top: 50px;
}

#intro1 {
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

#image {
    /* background-color: cadetblue ;background-image: url(""); */
    width: 1180px;
    height: 600px;
    overflow-y: scroll;
    }
.column {
    position: relative;
  }
  
  .column img {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  .image1 .column img {
    margin: 10px;
  }
  .column p {
    position: absolute;
    left: 220px;
    bottom: 50px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
  }
  /* #expandedImg {
      
      animation: fadeIn 5s;
  } */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  #image {
      position: relative;
  }
  #expandedImg {
    width: fit-content;
    position: absolute;
    left: 400px;
    width: 1100px;
    bottom: 0px;

}
  